In [34]:
import os
import kaggle
import pandas as pd

# Configurar las credenciales de Kaggle
os.environ['KAGGLE_USERNAME'] = 'sergiogrigorow'
os.environ['KAGGLE_KEY'] = '53eaa416645f87b31ba66153190551e0'

# Autenticarse en Kaggle
kaggle.api.authenticate()

# Ruta donde se guardará el archivo descargado
directorio = 'C:/Users/sergi/Proyectos/Proyecto_Final/data/raw'
archivo_prueba = os.path.join(directorio, 'vehicles.csv')

if not os.path.exists(archivo_prueba):
    # Descargar y descomprimir el dataset
    kaggle.api.dataset_download_files('austinreese/craigslist-carstrucks-data', path=directorio, unzip=True)
else:
    pass

In [64]:
# Leer el archivo CSV descargado
directorio_csv = os.path.join(directorio, 'vehicles.csv')
df = pd.read_csv(directorio_csv,quotechar='"')

# Mostrar las primeras filas del DataFrame
print(df.head())

           id                                                url  \
0  7222695916  https://prescott.craigslist.org/cto/d/prescott...
1  7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2  7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3  7222270760  https://worcester.craigslist.org/cto/d/west-br...
4  7210384030  https://greensboro.craigslist.org/cto/d/trinit...

                   region                         region_url  price  year  \
0                prescott    https://prescott.craigslist.org   6000   NaN
1            fayetteville       https://fayar.craigslist.org  11900   NaN
2            florida keys        https://keys.craigslist.org  21000   NaN
3  worcester / central MA   https://worcester.craigslist.org   1500   NaN
4              greensboro  https://greensboro.craigslist.org   4900   NaN

  manufacturer model condition cylinders  ... size  type paint_color  \
0          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
1          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
2          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
3          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN
4          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN

  image_url description county state lat long posting_date
0       NaN         NaN    NaN    az NaN  NaN          NaN
1       NaN         NaN    NaN    ar NaN  NaN          NaN
2       NaN         NaN    NaN    fl NaN  NaN          NaN
3       NaN         NaN    NaN    ma NaN  NaN          NaN
4       NaN         NaN    NaN    nc NaN  NaN          NaN

[5 rows x 26 columns]

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [66]:
df.shape

(426880, 26)

In [67]:
# Eliminar columnas
columnas_eliminar = ["id","county", "VIN", "region_url", "image_url", "description", "url", "cylinders","posting_date","title_status"]
df = df.drop(columns = columnas_eliminar)

In [69]:
df.shape

(426880, 16)

In [70]:
# Cantidad de valores nulos por columna
nulos = df.isnull().sum()
nulos

region               0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
fuel              3013
odometer          4400
transmission      2556
drive           130567
size            306361
type             92858
paint_color     130203
state                0
lat               6549
long              6549
dtype: int64

In [71]:
# Eliminar registros con valores nulos de columnas con pocos valores nulos
del_nulos = ['year','model','odometer','transmission','lat','long','manufacturer','fuel']
df = df.dropna(subset= del_nulos )
nulos = df.isnull().sum()
nulos

region               0
price                0
year                 0
manufacturer         0
model                0
condition       153385
fuel                 0
odometer             0
transmission         0
drive           117578
size            282111
type             82674
paint_color     118063
state                0
lat                  0
long                 0
dtype: int64

In [72]:
df.shape

(390219, 16)

In [73]:
# Completar datos faltantes en Type, a partir de la informacion del model, manufacturer, transmision y fuel
# Crear un diccionario para mapear las combinaciones de model, manufacturer, y transmission al type más frecuente
combination_to_type = df.groupby(['model', 'manufacturer', 'transmission','fuel'])['type'].apply(lambda x: x.mode()[0] if not x.mode().empty else None).to_dict()

# Función para rellenar los valores nulos de type
def fill_type(row):
    if pd.isnull(row['type']):
        return combination_to_type.get((row['model'], row['manufacturer'], row['transmission'],row['fuel']), None)
    return row['type']

# Aplicar la función al DataFrame
df['type'] = df.apply(fill_type, axis=1)

nulos = df.isnull().sum()
nulos

region               0
price                0
year                 0
manufacturer         0
model                0
condition       153385
fuel                 0
odometer             0
transmission         0
drive           117578
size            282111
type              8664
paint_color     118063
state                0
lat                  0
long                 0
dtype: int64

In [74]:
# Eliminar los registros para los cuales no se pudo inferir un type en el paso anterior
df = df.dropna(subset=['type'])
nulos = df.isnull().sum()
nulos

region               0
price                0
year                 0
manufacturer         0
model                0
condition       147212
fuel                 0
odometer             0
transmission         0
drive           111824
size            273705
type                 0
paint_color     111431
state                0
lat                  0
long                 0
dtype: int64

In [75]:
# Valores unicos en columna drive
drive_unicos = df['drive'].unique()
print(drive_unicos)

[nan 'rwd' '4wd' 'fwd']

In [76]:
# Completar datos faltantes en drive, a partir de la informacion del model, manufacturer, transmision, type y fuel
# Crear un diccionario para mapear las combinaciones de model, manufacturer, transmission, type y fuel al drive más frecuente

combination_to_drive = df.groupby(['model', 'manufacturer', 'transmission','type','fuel'])['drive'].apply(lambda x: x.mode()[0] if not x.mode().empty else None).to_dict()

# Función para rellenar los valores nulos de drive
def fill_drive(row):
    if pd.isnull(row['drive']):
        return combination_to_drive.get((row['model'], row['manufacturer'], row['transmission'], row['type'],row['fuel']), None)
    return row['drive']

# Aplicar la función al DataFrame
df['drive'] = df.apply(fill_drive, axis=1)

nulos = df.isnull().sum()
nulos

region               0
price                0
year                 0
manufacturer         0
model                0
condition       147212
fuel                 0
odometer             0
transmission         0
drive            23630
size            273705
type                 0
paint_color     111431
state                0
lat                  0
long                 0
dtype: int64

In [77]:
# Eliminar los registros para los cuales no se pudo inferir un type en el paso anterior
df = df.dropna(subset=['drive'])
nulos = df.isnull().sum()
nulos

region               0
price                0
year                 0
manufacturer         0
model                0
condition       144073
fuel                 0
odometer             0
transmission         0
drive                0
size            250826
type                 0
paint_color     104416
state                0
lat                  0
long                 0
dtype: int64

In [78]:
# Se repite el mismo paso anterior, esta vez para encontrar los "size" faltantes
combination_to_size = df.groupby(['model', 'manufacturer', 'transmission','type','drive'])['size'].apply(lambda x: x.mode()[0] if not x.mode().empty else None).to_dict()

def fill_size(row):
    if pd.isnull(row['size']):
        return combination_to_size.get((row['model'], row['manufacturer'], row['transmission'], row['type'], row['drive']), None)
    return row['size']

df['size'] = df.apply(fill_size, axis=1)

nulos = df.isnull().sum()
nulos

region               0
price                0
year                 0
manufacturer         0
model                0
condition       144073
fuel                 0
odometer             0
transmission         0
drive                0
size             76003
type                 0
paint_color     104416
state                0
lat                  0
long                 0
dtype: int64

In [79]:
df.shape

(357925, 16)

In [80]:
# Cantidad de valores unicos por cada columna
# Iterar sobre las columnas del DataFrame
for columna in df.columns:
    # Calcular la cantidad de valores únicos en cada columna
    cantidad_valores_unicos = df[columna].nunique()
    # Imprimir la cantidad de valores únicos en la columna actual
    print(f"Valores unicos en: '{columna}': {cantidad_valores_unicos}")

Valores unicos en: 'region': 404
Valores unicos en: 'price': 14594
Valores unicos en: 'year': 105
Valores unicos en: 'manufacturer': 41
Valores unicos en: 'model': 17377
Valores unicos en: 'condition': 6
Valores unicos en: 'fuel': 5
Valores unicos en: 'odometer': 96683
Valores unicos en: 'transmission': 3
Valores unicos en: 'drive': 3
Valores unicos en: 'size': 4
Valores unicos en: 'type': 13
Valores unicos en: 'paint_color': 12
Valores unicos en: 'state': 51
Valores unicos en: 'lat': 48515
Valores unicos en: 'long': 49020

In [81]:
print(df['type'].value_counts())

type
sedan          97489
SUV            89764
pickup         44131
truck          43299
coupe          18877
hatchback      15603
other          13101
wagon          10854
van             9530
convertible     7425
mini-van        6850
offroad          620
bus              382
Name: count, dtype: int64

In [82]:
print(df['manufacturer'].value_counts())

manufacturer
ford               63605
chevrolet          50021
toyota             30994
honda              19583
jeep               17857
nissan             17503
ram                15405
gmc                14599
dodge              12326
bmw                10689
hyundai             9522
mercedes-benz       8730
volkswagen          8288
subaru              7986
kia                 7773
lexus               7109
cadillac            6010
chrysler            5631
mazda               5037
buick               4943
acura               4521
audi                4438
infiniti            4052
lincoln             3695
mitsubishi          2990
volvo               2557
pontiac             2095
mini                2013
rover               1584
jaguar              1135
mercury             1103
saturn              1004
porsche              977
tesla                774
fiat                 742
alfa-romeo           427
harley-davidson       66
datsun                51
ferrari               49
aston-martin          22
land rover            19
Name: count, dtype: int64

In [83]:
print(df['model'].value_counts())

model
f-150                      7524
silverado 1500             4765
1500                       4134
camry                      3052
silverado                  2945
                           ...
silverado hd3500              1
wrx sti limited awd           1
pilot awd 3rd row seats       1
qx56 awd                      1
gand wagoneer                 1
Name: count, Length: 17377, dtype: int64

In [84]:
toyota_df = df[df['manufacturer'] == 'toyota']
model_counts_toyota = toyota_df['model'].value_counts()
model_counts_toyota_top = model_counts_toyota[model_counts_toyota > 100]
print(model_counts_toyota_top)

model
camry                        3052
tacoma                       2432
corolla                      2141
rav4                         1651
prius                        1345
tundra                       1310
sienna                       1088
4runner                      1045
highlander                   1024
camry le                      515
tacoma access cab pickup      468
avalon                        408
corolla le                    396
4runner sr5 sport utility     352
tundra crewmax sr5 pickup     301
tundra double cab sr          288
sienna le                     277
camry se                      269
fj cruiser                    264
tacoma double cab pickup      253
sequoia                       237
yaris                         221
4runner sr5                   216
venza                         187
land cruiser                  186
sienna xle                    177
camry le sedan 4d             176
camry xle                     169
corolla s                     168
prius hybrid                  161
tundra sr5                    150
matrix                        146
4runner limited sport         142
prius v                       141
tacoma 4x4                    128
tacoma access cab sr          127
tacoma double cab trd         126
highlander limited            123
4-runner                      120
camry hybrid                  119
corolla le sedan 4d           117
tacoma double cab             112
prius c                       112
tundra 4wd truck              112
4runner limited               108
tacoma prerunner              105
Name: count, dtype: int64

In [85]:
df.to_csv("C:\\Users\\sergi\\Proyectos\\Proyecto_Final\\data\\processed\\vehicles_clean.csv", index=False)